{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Details</title>

    <!-- Custom fonts for this theme -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <!-- Theme CSS -->
    <link href="{% static 'css_js' %}/css/freelancer.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Header -->

    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">ORDER</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'inside:index' %}">Products</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'inside:index' %}">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'inside:index' %}">Contact</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'inside:signin' %}">Sign in</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'inside:signup' %}">Sign up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- End Header -->

    <!-- Begin #services-section -->
    <span style="display:inline-block; width: 500;"></span>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img width="240" height="260" src="{{sanPham.hinh.url}}" />
                </div>
                <div class="post_text form-inline">
                    <p class="services-body">Description: {{sanPham.chi_tiet}}</p>
                    <p class="services-body">Products on store: {{sanPham.trang_thai}}</p>
                </div>
                <form action="{% url 'cart:cart_add' sanPham.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-inline">
                        <label>
                            <input type = "radio" name = "Th_don_gia" value = "{{sanPham.don_gia_ban}}" checked /> Price: {{sanPham.don_gia_ban}} VND
                        </label>

                    </div>
                    <div class="post_text form-inline">

                        {{cart_product_form.quantity}}
                        <input type="submit" value="Add to cart" class="btn btn-success" style="margin-left:10px">

                    </div>


                </form>
            </div>

        </div>
    </section>
    <!-- End #services-section -->


    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">

                <!-- Footer Location -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">541/2 Nguyen Tri Phuong
                        <br>Ward 8, District 10, Ho Chi Minh city</p>
                </div>

                <!-- Footer Social Icons -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Back to front</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                        <i class="fab fa-fw fa-facebook-f"></i>
                    </a>

                </div>

                <!-- Footer About Text -->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">About CK Bookstore</h4>
                    <p class="lead mb-0">CK Bookstore is free for everyone who would like to share, sell books or just discuss and find some new books
                        <a href="http://tiki.vn">Start CK Bookstore</a>.</p>
                </div>

            </div>
        </div>
    </footer>

    <!-- Copyright Section -->
    <section class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; Your Website 2019</small>
        </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <script type="text/javascript" src="{% static 'css_js' %}/js/jquery-1.10.2.min.js"></script>
    <script src="{% static 'css_js' %}/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="{% static 'css_js' %}/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</body>

</html>